<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container mt-4 text-center">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Dia de la Semana</th>
                    <th>Parte del cuerpo</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <!--bucle con la variable tareas que usamos en el controller-->
                <tr th:each="laRutina:${rutina}">
                    <td th:text="${laRutina.id}"></td>
                    <td th:text="${laRutina.dia}"></td>
                    <td th:text="${laRutina.parteDelCuerpo}"></td>
                    <td>
                        <a th:href="@{/leer/}+${laRutina.id}" class="btn btn-info">Ver</a>
                        <a th:href="@{/editar/}+${laRutina.id}" class="btn btn-warning">Editar</a>
                        <a onclick="return confirmarEliminar()" th:href="@{/delete/}+${laRutina.id}"
                            class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/crear}" class="btn btn-primary">Crear Rutina</a>
    </div>
    <script type="text/javascript">
        function confirmarEliminar() {
            var x = confirm("Estas seguro de Eliminar?");
            if (x)
                return true;
            else
                return false;
        }
    </script>
</body>

</html>